<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS</title>
    
    <script src="node_modules/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>   
    
    <div id="app">
        <h1 v-once>{{ title }}</h1>
        <p>{{ sayHello() }}</p>
        <p><a v-bind:href="link" target="_blank">Google</a></p> <!-- shorthand for v-bind > ":", ex. :href="" -->
        <p v-html="fullLink"></p>
        
        <hr>

        <button v-on:click="counter++">Increase 1</button> <!-- shorthand for v-on > "@", ex. @click="" -->
        <button v-on:click="counter--">Decrease 1</button>
        <button v-on:click="counter2++">Increase 2</button>
        <button v-on:click="counter2--">Decrease 2</button>
        <p>Counter: {{ counter }} | {{ counter2 }}</p>
        
        <p>Counter 1 Result: {{ result() }}</p>
        <p>Counter 1 Output: {{ output }}</p>

        <hr>

        <p v-on:mousemove="updateCoordinates">
            Coordinates: {{ x }} / {{ y }} - 
            <span v-on:mousemove.stop>DEAD SPOT</span>
        </p>
        <input type="text" v-on:keyup.enter.space="alertMe">

        <hr>

        <input type="text" v-model="name">
        <p>{{ name }}</p>

        <hr>

        <div>
            <div class="square" @click="attachRed = !attachRed" :class="divClasses"></div> <!-- set classes with function -->
            <div class="square" :class="{'red': attachRed}"></div> <!-- set classes with condition -->
            <div class="square" :class="[color, {'red': attachRed}]"></div> <!-- set classes with property and name -->
            <input type="text" v-model="color">
        </div>

    </div>

    <script src="app.js"></script>

</body>
</html>

